.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

:root {
  --main-bgr-color: #fdfbfd;
  --text-color-light: #fdfbfd;
  --sec-color: #DDB1CD;
  --text-color: rgb(61, 58, 61);
  --text-sec-color: rgb(110, 97, 109);
}

.layout {
  background: var(--main-bgr-color);
  width: 100%;
  height: 100%;
}

h2 {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
}

button {
  padding: 1em 4em;
  margin-left: 1em;
  margin-bottom: 5em;
  cursor: pointer;
  background: var(--text-color-light);
  border: 1px solid var(--text-color);
  transition: 0.5s;
}

button:hover, .options-wrapper button:focus {
  background: var(--sec-color);
  border: 1px solid var(--sec-color);
  color: var(--text-color-light);
  transition: 0.5s;
}